#restaurant-detail {
  min-height: calc(100vh - 64px - 70px);
  #restaurant-name {
    margin-bottom: 0;
  }
  #count-review {
    margin-bottom: 0;
  }
  #detail-review {
    margin-bottom: 0;
  }
}
